@font-face {
    font-family: 'Open Sans';
    font-weight: 300;
    src: url(/Content/Fonts/OpenSans-Light.ttf);
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    src: url(/Content/Fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 600;
    src: url(/Content/Fonts/OpenSans-SemiBold.ttf);
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 700;
    src: url(/Content/Fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 800;
    src: url(/Content/Fonts/OpenSans-ExtraBold.ttf);
}

@font-face {
    font-family: 'Open Sans Condensed';
    font-weight: 800;
    src: url(/Content/Fonts/OpenSansCondensed-Bold.ttf);
}