@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/angular")

<div id="media-container" ng-app="MediaApp" ng-controller="MediaController">
    <div id="angular-code">This page is developed in AngularJs, @Html.ActionLink("view the source code", "Angular", "Main", null, new { target = "_blank" }) to see how short it is!</div>
    <div class="frame">  
        <div ng-repeat="item in Model.MediaContents" class="wrapper" ng-class="{selected: $index == SelectedIndex}">
            <img ng-if="!item.VideoSrc" ng-src="{{item.ImageSrc}}"/>
            <iframe ng-if="item.VideoSrc" allowfullscreen ng-src="{{iframeSrc | trustAsIframeUrl: item.VideoSrc}}"></iframe>
        </div>

        <div ng-if="Model.MediaContents[SelectedIndex].DescriptionTitle || Model.MediaContents[SelectedIndex].Description && Model.MediaContents[SelectedIndex].Played != true" class="description-container">
            <div class="title {{Model.MediaContents[SelectedIndex].DescriptionClass}}">{{Model.MediaContents[SelectedIndex].DescriptionTitle}}</div>
            <div class="description">{{Model.MediaContents[SelectedIndex].Description}}</div>
        </div>

        <span id="left-button" class="frame-button" ng-click="prevImage()"></span>
        <span id="right-button" class="frame-button" ng-click="nextImage()"></span>
    </div>

    <div class="thumbnails-container">
        <div ng-repeat="item in Model.MediaContents" ng-click="$parent.SelectedIndex = $index" class="thumbnail" ng-class="{selected: $index == SelectedIndex}">
            <img ng-src="{{item.ImageSrc}}"/>
        </div>
    </div>
</div>

<script type="text/javascript">
    angular.module('MediaApp', [])
    .controller('MediaController', ['$scope', '$sce', '$http', '$timeout', function ($scope, $sce, $http, $timeout) {
        $scope.Model = model; // Image srcs, video srcs and descrptions are passed in as model from the backend
        $scope.iframeSrc = '';
        $scope.SelectedIndex = 0
        $scope.nextImage = function () {
            $scope.SelectedIndex = ($scope.SelectedIndex < $scope.Model.MediaContents.length - 1) ? $scope.SelectedIndex + 1 : $scope.SelectedIndex;
        };

        $scope.prevImage = function () {
            $scope.SelectedIndex = ($scope.SelectedIndex > 0) ? $scope.SelectedIndex - 1 : $scope.SelectedIndex;
        };

        $scope.func = function () {
            alert("lol");
        };
    }]).filter('trustAsIframeUrl', ['$sce', function ($sce) {
        return function (val, url) {
            return $sce.trustAsResourceUrl(url);
        };
    }]);;
</script>