@{
    Layout = null;
    ViewBag.Title = "Redesign";
}

@Styles.Render("~/Content/css")

<div id="media-container">
    <div class="media-content">
        <div class="frame">
            <img src="~/Content/Redesign/Facilities2.png"/>
        </div>
    </div>

    <span>left</span>
    <span>right</span>
</div>
