@{
    Layout = null;
}

@Styles.Render("~/Content/Resume/css")
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:700,300' rel='stylesheet' type='text/css'>

<div id="resume-container">
    <div id="header">
        <div class="left-block">
            <div id="name">Haitian Hong</div>
            <div id="position">
                A Real Full Stack Software Engineer
            </div>
        </div>
        <div class="right-block">
            <div><span>Email: </span><span>Andyhong0316@yahoo.com</span></div>
            <div>
                @if (ViewBag.IsHtml != null && ViewBag.IsHtml == true)
                {
                    <img class="arrow" src="/Content/Resume/arrow.png"/ style="right: 130px;">
                    <a href="/Main/DownloadResumePdf/" style="font-size: 16px; margin-left: 2px;">View Printable PDF</a>
                }
                else
                {
                    <img class="arrow" src="/Content/Resume/arrow.png" />
                    <span>Web Portfolio: </span>
                    <span id="email">
                        <a href="http://www.haitianhong.com">www.HaitianHong.com</a>
                    </span>
                }
            </div>
        </div>
    </div>

    <div id="resume-container-content">
        <div class="section">
            <div class="section-title">
                <div class="objective section-icon"></div>
                <div class="title">Objective</div>
            </div>
            <div class="section-content">
                <div class="section-row">
                    @*<div class="section-row-header">
                        <div class="section-row-title">University of California, San Diego: Jacobs School of Engineering</div>
                    </div>*@
                    <div class="section-row-content">
                        As an experienced solo/lead developer, I am seeking for a position where I can fully utilize my passion and ability to build a mid-scale high quality 
                        web system completely from scratch. I will cover every aspect needed for a complete product: all the way from graphics design, architectural design, 
                        development, to deployment. 
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="section-title">
                <div class="skill section-icon"></div>
                <div class="title">Full Stack Skills</div>
            </div>
            <div class="section-content">
                <div class="skill-row">
                    <div class="skill-title">Software Architecture</div>
                    <div class="skill-rating"><div class="skill-rating-percent" style="width: 80%;"></div></div>
                </div>
                <div class="skill-row">
                    <div class="skill-title">UI/UX Design</div>
                    <div class="skill-rating"><div class="skill-rating-percent" style="width: 70%;"></div></div>
                </div>
                <div class="skill-row">
                    <div class="skill-title">UI/UX Development: HTML, CSS/SASS</div>
                    <div class="skill-rating"><div class="skill-rating-percent" style="width: 100%;"></div></div>
                </div>
                <div class="skill-row">
                    <div class="skill-title">Frontend Development: AngularJS, Javascript/JQuery</div>
                    <div class="skill-rating"><div class="skill-rating-percent" style="width: 100%;"></div></div>
                </div>
                <div class="skill-row">
                    <div class="skill-title">Backend Development: C#, .NET, Entity Framework</div>
                    <div class="skill-rating"><div class="skill-rating-percent"></div></div>
                </div>
                <div class="skill-row">
                    <div class="skill-title">Database: Microsoft SQL</div>
                    <div class="skill-rating"><div class="skill-rating-percent" style="width: 80%;"></div></div>
                </div>
                <div class="skill-row">
                    <div class="skill-title">Server Management: AWS, Azure</div>
                    <div class="skill-rating"><div class="skill-rating-percent" style="width: 80%;"></div></div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="section-title">
                <div class="experience section-icon"></div>
                <div class="title">Work Experience</div>
            </div>
            <div class="section-content">
                <div class="section-row">
                    <div class="section-row-header">
                        <div class="section-row-title">Cobro Consulting: Lead Full Stack Developer / Software Architect</div>
                        <div class="section-row-subtitle">Oct 2015 - Present</div>
                    </div>
                    <div class="section-row-content">
                        As the only developer, I built the company's core system from scratch, which went online after 9 months and currently generates more
                        than $1,000,000 USD in yearly revenue. The system is a student management system used by more than 60 school districts to manage a total of
                        600,000 students and 30,000,000 services. My roles in the company includes architecture, UI/UX design, UI implentation, frontend implementation,
                        backend implementation, server, multi-tenant SQL administration.
                    </div>
                </div>

                <div class="section-row">
                    <div class="section-row-header">
                        <div class="section-row-title">SupraMed: Full Stack Developer</div>
                        <div class="section-row-subtitle">Jul 2014 - Oct 2015</div>
                    </div>
                    <div class="section-row-content">
                        Participated in a team of highly skills developers to help develop an enterprise-scale plastic surgeon EHR software system capable of managing an entire facility's process.
                        My role as the only full stack developer in the team includes designing/developing UI and developing backend. Some features includes:
                        advanced patient search, appointment scheduling calendar, cash register, insurance, price quote, electronic claims and photo/files management.
                    </div>
                </div>

                <div class="section-row">
                    <div class="section-row-header">
                        <div class="section-row-title">Humana: Junior Software Engineer</div>
                        <div class="section-row-subtitle">May 2013 - Jul 2014</div>
                    </div>
                    <div class="section-row-content">
                        Helped developed a grand scale health-care management system for the government. Mainly responsible for backend development
                        and some frontend development. Later mentored an entry level developer for 3 months.
                    </div>
                </div>

                @*<div class="section-row">
                        <div class="section-row-header">
                            <div class="section-row-title">JbabyUSA: Frontend Developer</div>
                            <div class="section-row-subtitle">Startup Part Time: Jul 2013 - Sept 2013</div>
                        </div>
                        <div class="section-row-content">Designed and developed the landing page and backend mailer for a baby onesie company started by a friend. (Sample: <a href="http://haitianhong.com/Main/JBabyUsa" style="text-decoration: none;">www.haitianhong.com/main/jbabyusa</a>)</div>
                    </div>*@

                @*<div class="section-row">
                        <div class="section-row-header">
                            <div class="section-row-title">NextHomeTech - Full Stack Developer</div>
                            <div class="section-row-subtitle">Startup Part time: Sept 2012 - May 2014</div>
                        </div>
                        <div class="section-row-content">Developed NextHomeTech web and mobile applications. NextHomeTech is a startup technology company that produces and sells lightbulbs controlled by mobile devices.
                            (Temporary Site: <a href="Http://www.nexthometech.com/" style="text-decoration: none;">www.nexthometech.com</a> & <a href="Http://www.nexthometech.com/andyhong" style="text-decoration: none;">www.nexthometech.com/andyhong</a>)</div>
                    </div>*@

                @*<div class="section-row">
                        <div class="section-row-header">
                            <div class="section-row-title">Commonwealth: IT Rep Tech Intern</div>
                            <div class="section-row-subtitle">Jan 2011 - Apr 2011</div>
                        </div>
                        <div class="section-row-content">Customer technical phone support, encryption installation and building computers. Developed patience by learning to listen and deal with occassional whiners with bad attitudes on phone.</div>
                    </div>*@

                @*<div class="section-row">
                    <div class="section-row-header">
                        <div class="section-row-title">University of California San Diego: Professor Assistant</div>
                        <div class="section-row-subtitle">March 2008 - June 2008</div>
                    </div>
                    <div class="section-row-content">
                        Tutor and supervise students of an intro Computer Science course. Responsible for helping lab students understand
                        object oriented programming concepts and debugging. Developed ability to communicate concepts in simplicity to troubled or disinterested students.
                    </div>
                </div>*@
            </div>
        </div>

        <div class="section">
            <div class="section-title">
                <div class="education section-icon"></div>
                <div class="title">Education</div>
            </div>
            <div class="section-content">
                <div class="section-row">
                    <div class="section-row-header">
                        <div class="section-row-title">University of California, San Diego: Jacobs School of Engineering</div>
                        <div class="section-row-subtitle">#15 ranked in U.S.A</div>
                    </div>
                    <div class="section-row-content">
                        Computer Science and Engineering, B.S
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="section-title">
                <div class="other section-icon"></div>
                <div class="title">Personal</div>
            </div>
            <div class="section-content">
                <div>- Mandarin Chinese: native proficiency in speaking, reading and writing.</div>
                <div>- English: professional working proficiency in speaking, reading and writing.</div>
                <div>- Professional filmer and video editor. Semi-professional photographer.</div>
                <div>
                    - I am an easy-going person. I don't complain.
                    I am very meticulous, detail oriented, yet fast paced engineer.
                    I have a good sense for art and design which I apply to projects at work.
                    I am good at multitasking (I am watching Two and Half Men as I'm writing this resume. But don't worry I won't do that at work).
                    I suck at creative writing (as you can see here where each sentence begins with I).
                    I like to exercise daily to keep my energy level consistent. Swimming is my favorite exercise activity. I like the color blue.
                </div>
            </div>
        </div>
    </div>

    <div id="footer">
        Resume written by Haitian (Andy) Hong in HTML/CSS
    </div>
</div>